.header {
    width: 100%;
    background-color: white;
    position: fixed;
    overflow: hidden;
    top: 0px;
    z-index: 2;

    &__container {
        display: flex;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .sitenav {
        display: flex;
        align-items: center;

        .logo {
            margin-right: 58px;

            @media (max-width: 768px) {
                margin-right: 16px;
            }
        }

        &__list {
            display: flex;
            margin-right: auto;
            gap: 32px;

            @media (max-width: 768px) {
                gap: 16px;
            }
        }

        &__item {
            display: flex;
        }

        &__link {
            display: block;
            @include font('Space Mono', 1.5, 700, 25, $dimGrey);

            &:active {
                color: $yellow;
            }
        }

        &__btn {
            @include btn(12px, 37px);
            margin-left: auto;
        }
    }

    @media (max-width: 600px) {
        &__container{
            justify-content: center;
        }
        .sitenav__list {
            display: none;
        }
        .sitenav__btn{
            display: none;
        }
    }
}